/* Общие стили для модального окна */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  padding: 1rem;
  animation: fade-in 0.3s ease-in-out;
}

.modal-content-delete {
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
  width: 30rem;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.modal-header-delete {
  padding: 1rem 1rem;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.warning-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #ef4444;
  animation: pulse 1.5s infinite;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
}

.close-button {
  padding: 0.5rem;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
}

.close-button:hover {
  background-color: #f3f4f6;
}

.close-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.modal-body {
  padding: 1rem;
}

.modal-message {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: #4b5563;
}

.modal-actions-delete {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.cancel-button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  background-color: rgb(202, 207, 222);
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.cancel-button:hover {
  background-color: rgb(228, 231, 240);
}

.confirm-button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: #eb4b4b;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.confirm-button:hover {
  background-color: #f03535;
}

/* Анимации */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}